<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643035230340-tlbvippinh4neecgfjn2ns0cnebsnqo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643035230340-tlbvippinh4neecgfjn2ns0cnebsnqo7</string>
	<key>API_KEY</key>
	<string>AIzaSyD8TSn52EF89QmNQ1FR-8D9GIx6HZWxQmA</string>
	<key>GCM_SENDER_ID</key>
	<string>643035230340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>junjun1023.register</string>
	<key>PROJECT_ID</key>
	<string>integrate-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>integrate-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643035230340:ios:6df4498466f87cb868d2d1</string>
</dict>
</plist>